# Supabase Config
VITE_SUPABASE_URL=https://vrkottlhvbaboqveinps.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_fc-uQrxEvGBjhjCbhnTlJQ_fCaaXPKa

# Dashboard credentials
VITE_DASHBOARD_USERS=stefano,francesca,test
VITE_DASHBOARD_PASSWORD=05092026
